body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
table,
th,
td {
    border: none;
    border-collapse: collapse;
}
.footer1 {
    color: black;
    text-decoration: underline;
}
.loading {
    padding-top: 10%;
    padding-bottom: 15%;
}
.img-decoration {
    max-width: 90px;
    max-height: 90px;
}
.align-center {
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}
p,
label {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.page {
    margin-left: 20px;
    margin-right: 20px;
}
.wide {
    min-width: 25px;
}
.left {
    margin-left: 100px;
}
@media only screen and (min-width: 676px) {
    .wide {
        min-width: 250px;
    }
    .page {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 50px;
    }
    .page-home {
        margin-left: 100px;
        margin-right: 100px;
    }
    .page-course {
        margin-left: 50px;
        margin-right: 50px;
    }
}
.textarea {
    max-width: 1370px;
    max-height: 500px;
}

.center {
    position: relative;
    left: 40%;
}
.custom-btn:hover {
    background-color: aquamarine;
}
.sidebar-btn:hover {
    background-color: #cfe2ff;
}
.sidebar-btn::after {
    background-color: aquamarine;
}
.sidebar-btn {
    cursor: pointer;
}
.custom-btn {
    padding: 8px 70%;
    white-space: nowrap;
    float: left;
    width: auto;
    border: none;
    outline: 0;
}
.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
  }
  .offset{
      margin: 0px 0px 0px 0px;
      border-radius: 25px;
      border-style: solid;
  }
  div{
      text-align: center;
  }
  code{
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: justify;
  }